<div class="container">
    <h1>Search Books</h1>
        <form #form="ngForm">

            <label for="">Title</label>
            <input type="text" name="title" [(ngModel)]="book.title">
          
            <label for="">Category</label>
            <input type="text" name="category" [(ngModel)]="book.category">
        
            <label for="">AuthorName</label>
            <input type="text" name="authorName" [(ngModel)]="book.authorName">
        
            <label for="">Publisher</label>
            <input type="text" name="publisher" [(ngModel)]="book.publisher">
         
            <label for="">Content</label>
            <input type="text" name="content" [(ngModel)]="book.content">
         
          <div class="form-group">
            <a  (click)="onSubmit()" type="button" class="btn btn-primary">Search</a>
          </div>
</form>
</div>