<div class="container">
    <h1>Search Books</h1>
        <form #form="ngForm">

            <label for="">Title</label>
            <input type="text" name="title" [(ngModel)]="book.title">
          
            <label for="">Category</label>
            <input type="text" name="category" [(ngModel)]="book.category">
        
            <label for="">AuthorName</label>
            <input type="text" name="authorName" [(ngModel)]="book.authorName">
        
            <label for="">Publisher</label>
            <input type="text" name="publisher" [(ngModel)]="book.publisher">
         
            <label for="">Content</label>
            <input type="text" name="content" [(ngModel)]="book.content">
         
          <div class="form-group">
            <a  (click)="onSubmit()" type="button" class="btn btn-primary">Search</a>
          </div>
</form>
</div>

<div class="row">
  <div class="table-responsive" id="divBook">
      <div class="table-responsive">
          <table class="table table-striped border" >
              <thead>
                  <tr class="table-secondary">
                      <th>title</th>
                      <th>category</th>
                      <th>authorName</th>
                      <th>Publisher</th>
                      <th>content</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let book of books">
                      <td>{{book.title}}</td>
                      <td>{{book.category}}</td>
                      <td>{{book.authorName}}</td>
                      <td>{{book.publisher}}</td>
                      <td>{{book.content}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>