<div class="container">
    <h1>Search Books</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="">Title</label>
            <input type="text" name="Title" [(ngModel)]="book.title">
          </div>
          <div class="form-group">
            <label for="">Category</label>
            <input type="text" name="category" [(ngModel)]="book.category">
          </div>
          <div class="form-group">
            <label for="">AuthorName</label>
            <input type="text" name="AuthorName" [(ngModel)]="book.authorName">
          </div>
          <div class="form-group">
            <label for="">Publisher</label>
            <input type="text" name="Publisher" [(ngModel)]="book.publisher">
          </div>