<nav class="navbar navbar-expand navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Signin">Signin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Signup">Signup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/Payment">BuyBook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/createbooks">Createbooks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/getpayment">Invoice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/searchbooks">searchbooks</a>
          </li>
      </ul>
    </div>
  </nav>
