<div class="card-body">
  <div class="table-responsive">
      <table class="table" >
          <thead class="table-dark">
              <tr>
                  
                  <th>logo</th>
                  <th>BookTitle</th>
                  <th>UserId</th>
                  <th>Category</th>
                  <th>Price</th>
                  <th>Publisher</th>
                  <th>Published Date</th>
                  <th>Category</th>
                  <th>Content</th>
                  <th>Active</th>
              </tr>
          </thead>    
          <tbody>
              <tr *ngFor='let book of books'>
                  <td>{{book.logo}}</td>
                  <td>{{book.BookTitle}}</td>
                  <td>{{book.UserId}}</td>
                  <td>{{book.Category}}</td>
                  <td>{{book.Price}}</td>
                  <td>{{book.Publisher}}</td>
                  <td>{{book.PublishedDate}}</td>
                  <td>{{book.Category}}</td>
                  <td>{{book.Content}}</td>
                  <td>{{book.Active}}</td>
                  <td><a  routerLink="/Books" >getAllBooks</a></td>
              </tr>
          </tbody>        
      </table>
  </div>
 
</div>