<a routerLink="/createbooks">Createbooks</a>
<div *ngIf = "Showgrid" class="row pt-3">
<div class='table-responsive'>
    <table class="table table-striped-border">
          <thead>
              <tr>
                  <th>bookId</th>
                  <th>logo</th>
                  <th>title</th>
                  <th>category</th>
                  <th>authorName</th>
                  <th>price</th>
                  <th>publisher</th>
                  <th>published Date</th>
                  <th>category</th>
                  <th>content</th>
                  <th>active</th>
                  <th>Edit</th>
              </tr>
          </thead>    
          <tbody>
              <tr *ngFor='let book of books'>
                  <td>{{book.bookId}}</td>
                  <td>{{book.logo}}</td>
                  <td>{{book.title}}</td>
                  <td>{{book.category}}</td>
                  <td>{{book.authorName}}</td>
                  <td>{{book.price}}</td>
                  <td>{{book.publisher}}</td>
                  <td>{{book.publishedDate}}</td>
                  <td>{{book.category}}</td>
                  <td>{{book.content}}</td>
                  <td>{{book.active}}</td>
                   <td><a (click)='onSubmit(book)' class="btn btn-danger">Edit</a></td> 
                  <!-- <a (click)='onSubmit()'>Delete</a> -->
                  <!-- <a (click)='onSubmit()'></a> -->
                  <td><a  routerLink="/Books"></a></td>
              </tr>
          </tbody>        
      </table>
   
  </div>
</div>

<div *ngIf = "ShowFields" class="row pt-3">

    <label for="name"><b>Title</b></label>
            <input type="text" name="title" placeholder="Enter Title" name="Title" [(ngModel)]="book.title">
         
            <label for="category"><b>Category</b></label>
            <input type="text" name="category" placeholder="Enter Category" [(ngModel)]="book.category">
          
            <label for="price"><b>Price</b></label>
            <input type="text" name="price" placeholder="Enter Price" [(ngModel)]="book.price">
          
            <label for=""><b>AuthorName</b></label>
            <input type="text" name="authorName" placeholder="Enter authorName" [(ngModel)]="book.authorName">
         
         
            <label for="publisher"><b>Publisher</b></label>
            <input type="text" name="price" placeholder="Enter Publisher" [(ngModel)]="book.publisher">
        
          
            <label for=""><b>PublishedDate</b></label>
            <input type="text" name="PublishedDate" [(ngModel)]="book.publishedDate">
      
            <label for="content"><b>Content</b></label>
            <input type="text" name="content" placeholder="Enter Content" [(ngModel)]="book.content">
       
            <label for="active"><b>Active</b></label>
            <input type="text" name="active" [(ngModel)]="book.active">
        
          <div class="form-group">
            <a (click)='updateBook(book)' href='Books'>Save </a> 
            <!-- <button>Create</button> -->
          </div> 

</div>