<div class="container">
    <h1>User Signup</h1>

    <label for="name"><b>UserName</b></label>
    <input type="text" placeholder="Enter UserName" name="UserName" [(ngModel)]="usersignup.UserName">
         
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Password" [(ngModel)]="usersignup.Password">
      
    <label for="Email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="Email" [(ngModel)]="usersignup.Email">

    <label for="UserRole"><b>UserRole</b></label>
    <select name="Roles" id="UserRole" [(ngModel)]="usersignup.UserRole">
      <option value="Author">Author</option>
      <option value="Reader">Reader</option>
    </select>
         
    <div class="form-group">
     <a  (click)="onSubmit()" type="button" class="btn btn-primary">SignUp</a>
     </div>

        
</div>
     
