<a routerLink="/searchbooks" type="button" class="btn btn-primary">searchbooks</a>
<div class="container">
    <h1>Book Payment</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()">
          
          <label for="Email"><b>BuyerEmail</b></label>
          <input type="BuyerEmail" placeholder="Enter BuyerEmail" name="BuyerEmail" [(ngModel)]="payment.buyerEmail">
         
          <label for="name"><b>BuyerName</b></label>
          <input type="BuyerName" placeholder="Enter BuyerEmail" name="BuyerName" [(ngModel)]="payment.buyerName">
         
          <label for="bookid"><b>BookId</b></label>
          <input type="BookId" placeholder="Enter BookId" name="BookId" [(ngModel)]="payment.bookId">
        
            <label for=""><b>PaymentDate</b></label>
            <input type="date" name="PaymentDate" [(ngModel)]="payment.paymentDate">
        

            <div class="form-group">
              <a  (click)="onSubmit()" type="button" class="btn btn-primary">Buy</a>
            </div>

          </form>
          </div>
