<div class="container">
    <h1>Book Payment</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="">BuyerEmail</label>
            <input type="text" name="BuyerEmail" [(ngModel)]="payment.BuyerEmail">
          </div>
          <div class="form-group">
            <label for="">BuyerName</label>
            <input type="password" name="BuyerName" [(ngModel)]="payment.BuyerName">
          </div>
          <div class="form-group">
            <label for="">PaymentDate</label>
            <input type="password" name="PaymentDate" [(ngModel)]="payment.PaymentDate">
          </div>
          <div class="form-group">
            <button>Save</button>
            </div>
